h1 {
    font-size: 24px;
    padding: 12px;
}

.formField {
    border: solid 1px #ccc;
    margin: 12px;
    padding: 0 8px;
    position: relative;
    border-radius: 4px;
}

.formField input {
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;
}

label {
    font-size: 16px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
}

.formField.active label {
    transform: translate(0, 4px) scale(.75);
}

button {
    background-color: #F2ACC6;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fffefe;
    font-size: 16px;
    margin: 12px;
    padding: 8px 12px;
}

.signupForm {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 24px 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}