body {
    background-color: #fffefe;
    color: #594347;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: #F2ACC6;
    text-decoration: none;
}

header {
    background-color: #F2ACC6;
    color: #fffefe;
    width: 100%;
}

nav {
    padding: 1rem;
}

header a {
    color: #fffefe;
}